<!DOCTYPE html>
<html>

<body>
    <div id="header" th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Trabajo practico Nº 4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between ml-5 br-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cliente">Clientes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/producto">Productos</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/ingresarUsuario">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>