html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#formIngreso {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 10px;
}

nav .navbar-brand {
    text-transform: capitalize;
}

nav .navbar-nav a {
    text-transform: uppercase;
    font-size: 15px;
}

form a {
    text-decoration: none;
}

.fondo-registro {
    background-image: url(../img/fondo-registro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-registro-p {
    background-image: url(../img/fondo-registro-p.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-mostrar {
    background-image: url(../img/fondo-mostrar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-mostrar-p {
    background-image: url(../img/fondo-mostrar-p.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-modificar {
    background-image: url(../img/fondo-modificar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-modificar-p {
    background-image: url(../img/fondo-modificar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title-form {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.contenedor-registro {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.registrado {
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    max-width: 800px;
    height: 25%;
    max-height: 400px;
    color: white;
    text-align: center;
    margin-top: 35%;
    border-radius: 0 0 10px 10px;
}

.registrado span i {
    font-size: 50px;
}

.guardado span i {
    font-size: 50px;
}

.registrado a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 100%;
}

.registrado button {
    width: 100%;
    min-height: 40px;
    border-radius: 0px 0px 10px 10px;
}

.guardado {
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    max-width: 800px;
    height: 25%;
    max-height: 400px;
    color: white;
    text-align: center;
    margin-top: 35%;
}

.guardado a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 50%;
}

.guardado button {
    width: 50%;
    min-height: 40px;
    border-radius: 10px;
}

.index {
    background-image: url(../img/findo-ingreso.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.index button a {
    text-decoration: none;
}

.icono {
    text-decoration: none;
}

.header,
.footer {
    height: 10%;
}

.contenedor {
    min-height: 100%;
    min-width: 100%;
}

.contenedor-doble {
    min-height: 100%;
    min-width: 100%;
}

.eleccion {
    min-height: 80%;
    min-width: 50%;
    margin: 0;
    padding: 0;
}

.eleccion a,
.eleccion button,
.eleccion div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.titulo {
    font-size: 60px;
    text-transform: uppercase;
}

.btn-cliente {
    background-image: url(../img/cliente.jfif);
}

.btn-inicio-cliente {
    background-image: url(../img/inicio-cliente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-producto {
    background-image: url(../img/producto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-inicio-producto {
    background-image: url(../img/inicio-producto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-inicio-catalogo {
    background-image: url(../img/inicio-catalogo.png);
    background-size: cover;
}

@media(max-width: 767px) {
    .registrado {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        margin-top: 35%;
    }
    .guardado {
        background-color: rgba(0, 0, 0, .5);
        width: 50%;
        height: 25%;
        color: white;
        text-align: center;
        margin-top: 35%;
    }
    .contenedor-doble {
        min-height: 50%;
        min-width: 100%;
    }
}