#formIngreso {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 10px;
}

nav .navbar-brand {
    text-transform: capitalize;
}

nav .navbar-nav a {
    text-transform: uppercase;
    font-size: 15px;
}

.fondo-registro {
    background-image: url(../img/fondo-registro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-registro-p {
    background-image: url(../img/fondo-registro-p.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-mostrar {
    background-image: url(../img/fondo-mostrar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-mostrar-p {
    background-image: url(../img/fondo-mostrar-p.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fondo-modificar {
    background-image: url(../img/fondo-modificar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor-registro {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    color: white;
}

.registrado {
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    max-width: 800px;
    height: 25%;
    max-height: 400px;
    color: white;
    text-align: center;
    margin-top: 35%;
}

.registrado span i {
    font-size: 50px;
}

.guardado span i {
    font-size: 50px;
}

.registrado a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 100%;
}

.registrado button {
    width: 100%;
    min-height: 40px;
    border-radius: 0px 0px 10px 10px;
}

.guardado {
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    max-width: 800px;
    height: 25%;
    max-height: 400px;
    color: white;
    text-align: center;
    margin-top: 35%;
}

.guardado a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 50%;
}

.guardado button {
    width: 50%;
    min-height: 40px;
    border-radius: 10px;
}

@media(max-width: 767px) {
    .registrado {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        margin-top: 35%;
    }
    .guardado {
        background-color: rgba(0, 0, 0, .5);
        width: 50%;
        height: 25%;
        color: white;
        text-align: center;
        margin-top: 35%;
    }
}

.index {
    background-image: url(../img/findo-ingreso.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.index button a {
    text-decoration: none;
}

.icono {
    text-decoration: none;
}