<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar un Cliente</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
    <link th:href="@{/css/styles.css}" th:rel=" stylesheet " type="text/css" href="../static/css/styles.css">
</head>

<body class="fondo-modificar contenedor">
    <div>
        <div th:insert="Layout/header :: header"></div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="title-form text-white p-4 my-5">Modificar Cliente</h1>
        <div class="col-lg-4 col-md-8 col-sm-12 my-5">
            <form class="contenedor-registro text-white p-4 col-12 d-flex flex-column pt-2" id="formRegistro" th:object="${unCliente}" th:action="@{/cliente/modificar}" method="post">
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="tipodoc">Tipo de Documento</label>
                        <input class="form-control" type="text" id="tipodoc" th:field="*{tipoDoc}" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label for="numdoc" class="form-label">Documento</label>
                        <input class="form-control" type="number" id="numdoc" th:field="*{nroDocumento}" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label for="nombreapellido" class="form-label">Nombre y Apellido</label>
                        <input class="form-control" type="text" id="nombreapellido" th:field="*{nombreApellido}" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="email" id="email" th:field="*{email}" placeholder="example@email.com" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label for="fechanac" class="form-label">Nacimiento</label>
                        <input class="form-control" type="date" id="fechanac" th:field="*{fechaNac}" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label for="fucompra" class="form-label">Fecha ultima compra</label>
                        <input class="form-control" type="date" id="fucompra" th:field="*{fechaUltimaCompra}" required>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group d-flex flex-column m-auto">
                        <label for="codigo" class="form-label">Cod Area</label>
                        <input class="form-control" type="number" id="codigo" th:field="*{codAreaTelefono}" required>
                    </div>
                    <div class="form-group d-flex flex-column m-auto">
                        <label for="numtel" class="form-label">Telefono</label>
                        <input class="form-control" type="number" id="numtel" th:field="*{nroTelefono}" required>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5 mb-2">
                    <a class="btn btn-primary col-10 text-white" data-toggle="modal" data-target="#ventanaModal">Confirmar</a>
                </div>
                <div class="modal fade text-dark" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="tituloVentana">Desea Confirmar su accion?</h5>
                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-succes">
                                    <h6>Todos tus datos se modificaran permanentemente</h6>
                                </div>
                            </div>
                            <div class="modal-fotter">
                                <button class="btn btn-success col-12" type="submit">Modificar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex flex-column pb-2">
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/cliente/mostrar}" class="col-10 d-flex justify-content-center btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div th:insert="Layout/footer :: footer"></div>
    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>