<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
    <link th:href="@{../css/styles.css}" th:rel=" stylesheet " type="text/css" href="../static/css/styles.css">
</head>

<body class="fondo-mostrar-p">
    <div class="mb-4">
        <div th:insert="layout/header :: header"></div>
    </div>
    <div class="contenedor d-flex flex-column mb-4">
        <h3 class="m-auto titulo">Lista de Productos</h3>
        <div class="table-responsive d-flex justify-content-center text-dark text-center mt-4">
            <table class="table-dark table-bordered">
                <tr>
                    <th class="p-2" colspan="11">Agregar Productos <a class="icono" th:href="@{/producto/registrar}"><i class="fas fa-plus"></i></a></th>
                </tr>
                <tr>
                    <th class="p-2">Cod Producto</th>
                    <th class="p-2">Nombre</th>
                    <th class="p-2">Precio</th>
                    <th class="p-2">Marca</th>
                    <th class="p-2">Stock</th>
                    <th class="p-2">Editar</th>
                    <th class="p-2">Eliminar</th>
                </tr>
                <tr th:if="${productos.empty}">
                    <td colspan="7">No hay clientes cargados</td>
                </tr>
                <tr th:each="producto : ${productos}">
                    <td class="p-2" th:text="${producto.codProducto}"></td>
                    <td class="p-2" th:text="${producto.nombre}"></td>
                    <td class="p-2" th:text="${producto.precio}"></td>
                    <td class="p-2" th:text="${producto.marca}"></td>
                    <td class="p-2" th:text="${producto.stock}"></td>
                    <td class="p-2"><a class="icono" th:href="@{'/producto/editar/'+${producto.codProducto}}"><i class="fas fa-edit"></i></a></td>
                    <td class="p-2"><a class="btn btn-link" style="color:red" data-toggle="modal" data-target="#ventanaModal"><span><i class="fas fa-times"></i></span></button></td>
                    <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="tituloVentana">Desea Confirmar su accion?</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-succes">
                                        <h6>Se eliminara el producto permanentemente</h6>
                                    </div>
                                </div>
                                <div class="modal-fotter">
                                    <a class="btn btn-danger col-12" th:href="@{'/producto/eliminar/'+${producto.codProducto}}">Eliminar Producto</a>
        </div>
    </div>
    </div>
    </div>
    </tr>
    </table>
    </div>
    </div>
    <div>
        <div th:insert="layout/footer :: footer"></div>
    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>