<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Agregar Productos</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
    <link th:href="@{../css/styles.css}" th:rel=" stylesheet " type="text/css" href="../static/css/styles.css">
</head>

<body class="fondo-registro-p">
    <div>
        <div th:insert="Layout/header :: header"></div>
    </div>
    <div class="contenedor d-flex flex-column align-items-center justify-content-center mb-4">
        <h1 class="title-form text-white p-4 my-5">Formulario de Carga de Producto</h1>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <form class="contenedor-registro text-white p-4 col-12 d-flex flex-column p-2" id="formProducto" th:object="${unProducto}" th:action="@{/producto/guardar}" method="POST">
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="codigo">Codigo</label>
                        <input class="form-control" type="text" id="codigo" th:field="*{codProducto}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="nombre">Nombre</label>
                        <input class="form-control" type="text" id="nombre" th:field="*{nombre}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="precio">Precio</label>
                        <input class="form-control" type="number" id="precio" th:field="*{precio}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="marca">Marca</label>
                        <input class="form-control" type="text" id="marca" th:field="*{marca}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" for="stock">Stock</label>
                        <input class="form-control" type="number" id="stock" th:field="*{stock}">
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center my-4">
                    <button class="btn btn-primary mr-5" type="submit" value="Agregar">Agregar</button>
                </div>

            </form>
        </div>
    </div>
    <div>
        <div th:insert="Layout/footer :: footer"></div>
    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>